<footer>
    <address>
    <p>Liam Kearns <br>
<<<<<<< HEAD
      Liam.Kearns@onatriotechu.net <a href="https://github.com/Liam-Kearns/WebandScriptProgrammingLK"> Github</a><br><br>
=======
      Liam.Kearns@onatriotechu.net <a href="https://github.com/Liam-Kearns/WebandScriptProgrammingLK"> Github</a><br>
>>>>>>> 8b5ddfab6c1d0732de4a5de9195a00ddfbb2cecb
      <span>&copy;</span> 2023 by Liam Kearns
    </p>
  </address>
  </footer>
