<footer>
    <address>
    <p>Liam Kearns <br>
      Liam.Kearns@onatriotechu.net <a href="https://github.com/Liam-Kearns/WebandScriptProgrammingLK"> Github</a><br><br>
      <span>&copy;</span> 2023 by Liam Kearns
    </p>
  </address>
  </footer>
