@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body {
    text-size-adjust: none; 
    height: 100%;
    background-color: black;
    background: linear-gradient(#5386A6, #C2E5F2);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 100%;
} 
footer{
    text-align: center;
    padding: 3px;
    background-color: #444;
    color: #F2E0D5;
    font-size: 16px;
}
.headercontainer{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #444;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 8px 0;
}
.list{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 12px ;
    padding-top: 19px;
    position: relative;
}
nav a {
    color: #F2E0D5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
nav a:hover{
    color: #000;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;

    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}

.contactcontainer{
    width: 80%;
    margin: 50px auto;
    padding-bottom: 117px;
}

.contactbox{
    background: #444;

}
.contactl{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contactr{
    flex-basis: 40%;
    padding: 20px;
    background: #F2E0D5;
    color: #444;
    font-size: 15px;
}
.contactcontainer h1{
    margin-bottom: 60px;
    color: #F2E0D5;
    font-size: 70px;
     
}
.contactinputs{

    justify-content: space-between;
    margin-bottom: 20px;
}

.contactinputs .input{
    flex-basis: 45%;
}
.contactinputs input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #F2E0D5;
    outline: none;
    padding-bottom: 5px;
}
.messagebox textarea{
    width: 100%;
    border: 1px solid white;
    outline: none;
    padding: 10px;
}
.contactbox label{
    margin-bottom: 6px;
    display: block;
    color: #F2E0D5;
    font-size: 30px;
}
.contactbox button{
    background: #F2E0D5;
    width:200px;
    border: none;
    outline: none;
    color: #444;
    height: 30px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(190, 189, 195, 0.3);
}
.contactl h3{
    color: #F2E0D5;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 40px;
}
.contactr h3{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 40px;
}
.contactr tr td:first-child{
    padding-right: 20px;
}
.contactr tr td{
    padding-top: 20px;
}
.thankyou{
    margin-top: 20%;
    margin-bottom: 30%;
}
.thankyou h1{
    text-align: center;
}
.thankyou h2{
    text-align: center;
    padding-top: 20px;
}
.introcontainer{
    padding: 0px;
    width: 50%;
    margin: 50px auto;
    flex-basis: 60%;
    padding-bottom: 168%;
    font-size: 25px;
}
.homeimage{
    flex-basis: 40%;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 250px;
    margin-left: 112px;
}
.homeimage img{
    border: 8px #F2E0D5;
    border-style: double;
}
.introcontainer button{
    background: #F2E0D5;
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    color: #444;
    font-size: 20px;
    height: 30px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(19, 19, 20, 0.3);
    z-index: 1;
}
.aboutcontainer{
    margin-top: 4px;
    max-width: 1100px;
    text-align: center;
    padding: 0 3px;
    margin: 0 auto;
}
.aboutcontainer h1{ 
    color: black;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 35px;
}
.aboutcontainer h2{
    color: black;
    font-size: 30px;
}
.aboutcontainer video{
    margin-top: 2%;
    margin-bottom: 100px;
}
.aboutcontainer p{
    color: #444;
    margin-bottom: 5px;
    line-height: 40px;
    font-size: 16px;
    padding-top: 10px;
    line-height: 25px;
}
.projectcontainer{
    margin-top: 20px;
    margin-bottom: 100px;
    }
    .project1{
        background-color: #F2E0D5;
        text-align: center;
    
    }
    .project2{
        background-color: #F2E0D5;
        text-align: center;
        
    }
    .project3{
        background-color: #F2E0D5;
        text-align: center;
    }
    .pythonimg{
        margin-left: 145px;
        width: 0px;
        padding-bottom: 50px;
        margin-top: 300px;
    
    }
    .apiimg{
        margin-left: 145px;
        width: 0px;
        padding-bottom: 50px;
        margin-top: 300px;

    
    }
    .projectcontainer h2{
        margin-top: 100px;
        padding-top: 15px;
        margin-bottom: 25px;
        color: #444;
    
    }
    .project1 p{
        float:left;
        margin-top: -430px;
        margin-left: 35px;
        margin-bottom: 100px;
        color: #444;
        width: 300px;
    }
    .project2 p{
        float:left;
        margin-top: -430px;
        margin-left: 35px;
        margin-bottom: 100px;
        color: #444;
        width: 300px;
    }
    .project3 p{
        float:left;
        margin-left: 35px;
        margin-bottom: 10px;
        color: #444;
        width: 300px;
    }
